<h1>Create a New Team</h1>
<form action="/teams" method="post">


  <!-- fields for team properties -->



  <input type="text" name="name" placeholder="Name" required>
  <input type="text" name="city" placeholder="City" required>
  <button type="submit">Create Team</button>
</form>