<h1>Team Details</h1>

<p>Team Name: <%= team.name %></p>

<h2>Athletes in this Team</h2>

<ul>
  <% team.athletes.forEach(athlete => { %>
    <li><%= athlete.name %></li>
  <% }); %>
</ul>

<a href="/teams">Back to Teams</a>